service: btc-price--guesser

plugins:
  - serverless-esbuild # used for compiling/packaging the Typescript code
  - serverless-offline # used for local execution

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
  stage: ${opt:stage}
  timeout: 30 # repository wide Lambda timeout
  logs:
    httpApi: true
    cors: true
  environment: # repository wide Lambda env variables
    STAGE: ${self:provider.stage}

functions:
  # Serverless Framework specific syntax
  GetBtcPrice:
    handler: ./src/getBtcPrice.handler
    events:
      - httpApi:
          path: /btc/price
          method: GET
    environment:
      CMC_API_KEY: ${env:CMC_API_KEY}

  Function2:
    handler: ./src/lambda2.handler
    timeout: 10 # override global setting
    memorySize: 2048 # override default 512 Mb
    events:
      - schedule:
          rate: cron(0 12 * * ? *) # triggers every 12 hours
          enabled: true
