service: btc-price--guesser

plugins:
  - serverless-esbuild # used for compiling/packaging the Typescript code
  - serverless-offline # used for local execution

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
  stage: ${opt:stage}
  timeout: 30 # repository wide Lambda timeout
  logs:
    httpApi: true
  httpApi:
    cors: true
  environment: # repository wide Lambda env variables
    STAGE: ${self:provider.stage}
    TABLE_NAME:
      Ref: GuessesTable
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        Fn::GetAtt:
          - GuessesTable
          - Arn

functions:
  # Serverless Framework specific syntax
  GetBtcPrice:
    handler: ./src/getBtcPrice.handler
    events:
      - httpApi:
          path: /btc/price
          method: GET
    environment:
      CMC_API_KEY: ${env:CMC_API_KEY}

  CreateGuess:
    handler: ./src/createGuess.handler
    events:
      - httpApi:
          path: /guesses
          method: POST

  GetGuesses:
    handler: ./src/getGuesses.handler
    events:
      - httpApi:
          path: /guesses
          method: GET


resources:
  Resources:
    GuessesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: GuessesTable
        AttributeDefinitions:
          - AttributeName: user_name
            AttributeType: S
          - AttributeName: inserted_at
            AttributeType: S
        KeySchema:
          - AttributeName: user_name
            KeyType: HASH
          - AttributeName: inserted_at
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
