name: "API - Terraform Plan"

on:
  push:
    branches:
      - main
    paths:
      - api/**
      - .github/workflows/deploy-api.yml

env:
  TF_CLOUD_ORGANIZATION: "jonas_d_schulz"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "btc-price-guesser"
  CONFIG_DIRECTORY: "./api/"

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: Enter dir and deploy
        uses: serverless/github-action@v3.2
        with:
          args: -c "cd ./api && serverless deploy --stage production"
          entrypoint: /bin/sh
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          CMC_API_KEY: ${{ secrets.CNC_API_KEY }}